@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

#container {
    width: 80%;
    margin: auto;
}


/*-------------navegation---------------*/
/*width used to align center nav links*/
.navbar-nav {
    width: 100%;
}


.carousel-item {
    height: 80vh;
   
}
    
    
    
.bg-dark {
    background-color: #3e668e!important;
}

.fa.fa-home {
    font-size: 150%;
    margin: auto;
    padding: 0;
    color: cornsilk;
}

/*-------------main section---------------*/



h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	text-align: center;
	opacity: 0.8;
	padding: 30px;
	font-weight:800;
	font-family: 'Oswald', sans-serif;
}

body p {
	color: rgb(82, 57, 57);
	text-align: -webkit-auto;
}

.book-us {
    text-align-last: center;
}

/*-------------the band members-----------*/
.bandBgColor {
    background-color: #dee1e6;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
   
}
.img-fluid .border-img {
    border: 20px;
}

.toggle-panel-trigguer {
    cursor: pointer;
    color: #0e6bc7;
}

.toggle-panel-trigguer:hover {
    color: #555;
    text-decoration: underline;
}

.toggle-panel-trigguer::before {
    content: '+ ';
    padding-right: 5px;
}


.toggle-panel-content-container {
    overflow: hidden;
    height: 0px;
}

.toggle-panel-content {
    padding: 1px 0;
}
.open .toggle-panel-trigguer::before {
    content: '\2015 ';
 }

/*-------------playlist---------------*/



.playlist_bg_cover {
	background-color: rgb(236, 236, 236);
	max-width: 100%;
	
}

.playlist {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}



.playlist_heading {
    margin: auto;
    width: 80%;
	font-size: 22px;
	text-transform: uppercase;
	background-color: rgb(236, 236, 236);
	color: rgb(175, 175, 175);
	font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 50px;
}

.headphone {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 
/*-------------section tour---------------*/

.tour {
    background-color: #dee2e6;
}

.card-body {
    -webkit-moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
    background-color: rgb(183, 183, 183);
}

.card-body p {
    text-align: center;
    color: rgb(59, 73, 84);
}

.btn {
    display: inline;
}


.btn-primary {
    color: #fff9e0;
    background-color: rgb(53, 64, 74);
    border: none;
}

.btn-primary:hover {
	background-color: #45a049;
     color: #fff;
     transition: background-color .5s ease-in-out;
}


/*-------------footer---------------*/
.footer {
    background-color: #3e668e;
    width: 100%;
    height: 150px;
}

.social-media {
    text-align: center;
}

h6 {
    color: #bdc5ca;
    font-size: 2em;
    padding-top: 15px;
}

.col-md-6 {
	text-align: center;
}

.fa {
  padding: 5px;
  font-size: 30px;
  margin: 20px;
  color: cornsilk;
}
a:hover {
    color: cornsilk;
    text-decoration: none;
}

.fa-font-size {
   font-size: 350%;
   color: cornsilk;
   transition: 0.5s ease-in-out;
}

* {
    box-sizing: border-box;
}
/*-------------contact form---------------*/

* {
    box-sizing: border-box;
}

.input_option {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: 500;
}

input[type=submit] {
    background-color: #34404a;
    color: white;
    padding: 4px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

input[type=submit]:hover {
    background-color: #45a049;
    color: #fff;
    transition: background-color .5s ease-in-out;
}

.container {
   background-color: #d4cfcf;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: center;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}




/*-------------Media Queries---------------*/

@media(max-width:767px) {

	.headphone {
        width: 35%;
    }
   
	.footer {
		display:block;
		height:fit-content
	}

	.social-media {
		text-align: center;

	}

	h1 {
      	font-size:25px;
	}

	h2, h3, h4 {
		font-size:20px;
	}

	

	h6 {
        color: #bdc5ca;
        font-size: 1em;
        margin-left: 20px
    }

    .fa {
        padding: 0px;
        font-size: 25px;
        margin: 10px;
        color: cornsilk;
    }

/* contact form */

 .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    
    }

}

/*video*/

@media(min-width:768px) {

	.embed-responsive {
		position: unset;
    }
}